<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resources">Resources</a></li>
	        		<li><a href="/original_content">Original Content</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:panders225@gmail.com">email</a></li>
	        		<li><a href="https://github.com/panders225">github</a></li>
				<li><a href="https://www.quora.com/profile/Philip-Anderson-2">quora</a></li>
				<li><a href="https://www.linkedin.com/in/philip-anderson-a3abb827">linkedin</a></li>
				<li><a href="https://www.goodreads.com/user/show/19131596-philip-anderson">goodreads</a></li>
				</ul>
			</footer>
		</body>
	</html>
